$colore-sfondo: rgb(6, 3, 30);
$colore-nav: #252525;
$colore-testo: whitesmoke;
$colore-titoli: lightblue;
$colore-bottoni: aqua;
$font-testo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-Titoli: 'Times New Roman', Times, serif;
$size-titoli: 3em;
$size-titoletti: 1.5em;
$no-decorazioni: none;
$blocchi-linea: inline-block;
$size-nav: 1.5em;
$p100: 100%;
$p80: 80%;
$p0: 0%;