#carousel-sass{
    text-align: center;
    padding: 0 5% 0 5%;
    .img-sass-carousel{
        overflow: hidden;
        border-radius: 99rem;
        border: 1px solid black;
        width: 2.5rem;
        margin: auto;
    }
}