
main{
    .p-sass{
        padding: 30px 5% 25% 5%;
        background-image: url("../../img/pexels-aleksandar-pasaric-325185.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        h1{
            font-size: $size-titoli;
        }  
    }
    .cb {
        color: $font-darkN;
    }
    h2{
        text-align: center;
    }
    .svg-bg{
        fill:#f5f5f5;
    }
}