$colore-sfondo: white;
$colore-nav: #6b2dea;
$colore-testoI: aqua;
$colore-testonav: #e63f57;
$colore-testo: #323233;
$bg-lorem: #f1f1f1;
$size-titoli: 2.5em;
$size-titoletti: 2em;
$size-testo: 1.5em;
$size-nav: 1em;
$no-decorazioni: none;
$blocchi-linea: inline-block;
$p100: 100%;
$p80: 80%;
$p0: 0%;

$bg-dark: #323233;
$bg-darker: #1c1c1c;
$bg-dark-hf: #39187b;
$font-dark: #e63f57;
$font-darkN: whitesmoke;


$bg-bright: #fff;
$fg-bright: #252525;
