div{
    width: 300px;
    margin-left: 40%;
    margin-top: 10%;

}
input{
    border-radius: 5px;
    color: white;
    background-color:rgb(24, 24, 24);
    margin-bottom: 10px;
}

button{
    color: black;
}
