body{
    font-size: 10px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    font-size: xx-small;
    font-weight: 500;
    z-index: 1;
}
article img{
    float: left;
}
section h2{
    position: absolute;
    top: -20px;
}
section{
    z-index: 0;
}
aside .fa-tag{
    position: absolute;
    right: 10%;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.233);
}
.fixed{
        position: fixed;
        right: 0;
        width: 30px;
        height: 30px;
        border:3 px solid #00f;
        background-color: rgb(96, 96, 244);
        text-align: center;
}
#fixed1{
    bottom: 150px;
}
#fixed2{
   bottom: 100px;
}
#fixed3{
    bottom: 50px;
}
@media screen and (min-width: 768px){
    body{
        font-size: 20px;
    }
    header, section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    section p{
        padding-top: 30px;
        font-size: 1.3rem;
    }
    section{
        padding-bottom: 60px;
        
    }
    section h2{
        position: absolute;
        top: -40px;
        left: 40px;
        font-size: 40px;
        box-shadow: 1px 1px 3px black;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 1280px){
    section h2{
        position: absolute;
        top: -30px;
        left: 30px;
        font-size: 30px;
        box-shadow: 1px 1px 3px black;
        text-transform: uppercase;
    }
    section, iframe{
        margin-top: 30px;
    }
    #fixed1{
        bottom: 150px;
    }
    #fixed2{
       top: 100px;
    }
    #fixed3{
        top: 50px;
    }
}