body{
        .card{
            padding: 3rem;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
            img{
                background-color: lightgray;
                border-radius: 99rem;
                padding: 0.5em;
            }
            a{
                color: rgb(152, 152, 0);
            }
        }
}