$background-color-sf: rgba(18,18,18,255);
$background-color-sf-btn: rgba(42,42,42,255);
$background-color-sf-btn-darker:rgba(35,35,35,255);
$background-color-violet:rgba(146,51,119,255);
$spotify-verde:rgba(30,215,96,255);
