$colore-sfondo: white;
$colore-nav: rgb(6, 3, 30);
$colore-testoI: aqua;
$colore-main: whitesmoke;
$colore-testo: #323233;
$colore-titoli: darkblue;
$font-testo: 'Montserrat', sans-serif;
/*$font-titoli: 'Ubuntu', sans-serif;*/
$size-titoli: 3em;
$size-titoletti: 2em;
$size-testo: 1.5em;
$size-nav: 1em;
$no-decorazioni: none;
$blocchi-linea: inline-block;
$p100: 100%;
$p80: 80%;
$p0: 0%;
$bg: #f3f8fa;
$white: #fff;
$black: rgb(6, 3, 30);