

<div class="login-container">
  <form action="" class="form-login" #f="ngForm" (ngSubmit)="signUpForm(f)">
      <ul class="login-nav">
          <li class="login-nav__item">
              <a routerLink="/login">Log In</a>
          </li>
          <li class="login-nav__item active">
              <a>Sign Up</a>
          </li>
      </ul>
      <label for="login-input-user" class="login__label">
          Username
      </label>
      <input id="login-input-user" class="login__input" type="text"  name="name"  ngModel/>
      <label for="login-input-user" class="login__label">
          Email
      </label>
      <input id="login-input-password" class="login__input" type="text" name="email" ngModel/>
      <label for="login-input-password" class="login__label">
          Password
      </label>
      <input id="login-input-password" class="login__input" type="password" name="password" ngModel/>
      <hr>
      <button class="login__submit">Sign in</button>
  </form>
</div>

